.contenedorPrincipal {
  padding-top:1rem;
  padding-bottom:1rem;
  width: 80%;
  height: 100%;
  margin: 0 auto;

}

.capture {
  width: 300px;
  min-height: 500px;
  margin-left: auto;
  margin-right: auto;
}

.html2canvas-container { width: 3000px !important; height: 3000px !important; }